<h1>House <%= @house.house_name %></h1>
<% if @house.user == current_user %>
<%= link_to 'edit house', edit_house_path(@house) %>
<%= link_to 'Destroy House', house_path(@house), method: :delete %>
<% end %>

<ul>
  <h3>House Moto:</h3>
  <p><%= @house.moto %></p>
  <br>
  <h3>House Sigil:</h3>
  <p><%= @house.sigil %></p>
  <img src="<%= @house.house_photo_url %>"/>
  <br>
  <h3>Characters:</h3>
  <p><%= link_to 'add character', new_house_character_path(@house) %></p>
  <% @house.characters.each do |character| %>
  <p><%= link_to character.char_name, house_character_path(@house, character) %></p>
  <img src="<%= character.photo_url %>"/>
  <% end %>
</ul>
